.estate_kanban_image {
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 6px;
}

.estate_kanban_image img,
.estate_kanban_image .o_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
